
.fontello-search:before { content: '\e800'; } /* '' */
.fontello-location:before { content: '\e801'; } /* '' */
.fontello-down-1:before { content: '\e802'; } /* '' */
.fontello-left-1:before { content: '\e803'; } /* '' */
.fontello-right-1:before { content: '\e804'; } /* '' */
.fontello-up-1:before { content: '\e805'; } /* '' */
.fontello-down-open:before { content: '\e806'; } /* '' */
.fontello-star:before { content: '\e807'; } /* '' */
.fontello-left-open:before { content: '\e808'; } /* '' */
.fontello-right-open:before { content: '\e809'; } /* '' */
.fontello-up-open:before { content: '\e80a'; } /* '' */
.fontello-shopping-bag:before { content: '\e80b'; } /* '' */
.fontello-cancel:before { content: '\e80c'; } /* '' */
.fontello-profile:before { content: '\e80d'; } /* '' */
.fontello-phone:before { content: '\e80e'; } /* '' */
.fontello-user:before { content: '\e80f'; } /* '' */
.fontello-filter:before { content: '\e810'; } /* '' */
.fontello-truck:before { content: '\e817'; } /* '' */
.fontello-mail-1:before { content: '\e819'; } /* '' */
.fontello-twitter:before { content: '\f099'; } /* '' */
.fontello-facebook:before { content: '\f09a'; } /* '' */
.fontello-pinterest-circled:before { content: '\f0d2'; } /* '' */
.fontello-gplus:before { content: '\f0d5'; } /* '' */
.fontello-angle-left:before { content: '\f104'; } /* '' */
.fontello-angle-right:before { content: '\f105'; } /* '' */
.fontello-angle-up:before { content: '\f106'; } /* '' */
.fontello-angle-down:before { content: '\f107'; } /* '' */
.fontello-youtube:before { content: '\f167'; } /* '' */
.fontello-instagram:before { content: '\f16d'; } /* '' */
.fontello-down:before { content: '\f175'; } /* '' */
.fontello-up:before { content: '\f176'; } /* '' */
.fontello-left:before { content: '\f177'; } /* '' */
.fontello-right:before { content: '\f178'; } /* '' */
.fontello-vkontakte:before { content: '\f189'; } /* '' */
.fontello-linkedin-squared:before { content: '\f30c'; } /* '' */